*
!utility.cpp
!utility.hpp
!main_old.cpp
!main_new.cpp
!README.md
!runls.sh
!runsa.sh
!runold.sh
!mainFunctions.cpp
!mainFunctions.hpp
!edgePointPair.cpp
!edgePointPair.hpp
!CMakeLists.txt
!input.txt
!output.txt
!Report.pdf