*
!utility.cpp
!utility.hpp
!main.cpp
!README.md
!run.sh
!mainFunctions.cpp
!mainFunctions.hpp
!edgePointPair.cpp
!edgePointPair.hpp
!CMakeLists.txt
!input.txt
!output.txt
!Report.pdf
!edgeChange.cpp
!edgeChange.hpp
!mainFunctions2.cpp
!mainFunctions2.hpp
!visualization.py